<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/register.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body><div class="register-page">
    <div class="form">
      <form class="register-form">
        <input id='id' type="text" placeholder="ID"/>
        <input id='name' type="text" placeholder="Name"/>
        <input id='password' type="password" placeholder="Password"/>
        <input id='confirm-password' type="password" placeholder="Confirm Password"/>
        <!-- form 태그 안의 button은 'summit' 동작을 기본적으로 수행하면서 창이 새로고침이 된다 -->
        <!-- <button>login</button> -->
        <!-- p태그로 바꾸고, id를 button으로 부여함으로써 동작 수행 이후에 새로고침 되는 현상을 제거 -->
        <p id='button'>sign up</p>
        <p class="message">Already registered? <a href="/login">login</a></p>
      </form>
    </div>
  </div>
</body>
</html>
